# GEC Data Science Program
## Level 1, Lab 1

### Data download

In Lab sessions we use Titanic Data to demonstrate concepts:
https://www.kaggle.com/c/titanic

### Environment Setup

We will be using Anaconda with Python 2.7 (Python 3.6 works too).
https://www.anaconda.com/download/

### Hello world examples

In [2]:
import numpy as np

In [3]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
np.random.rand(10)

array([0.28803618, 0.45624657, 0.67297362, 0.77025079, 0.47429844,
       0.49293948, 0.23190873, 0.83485026, 0.74217046, 0.14382088])

In [6]:
a=np.random.rand(10,3)

In [7]:
a

array([[0.112082  , 0.72959646, 0.82588792],
       [0.94624374, 0.25489925, 0.78152753],
       [0.34205829, 0.87600921, 0.85753156],
       [0.14256612, 0.13351367, 0.07859277],
       [0.78845681, 0.47217016, 0.79709931],
       [0.08045458, 0.73424546, 0.12805655],
       [0.66413662, 0.52027344, 0.22089005],
       [0.90519212, 0.80971351, 0.88855629],
       [0.08840759, 0.05134476, 0.23417102],
       [0.66582292, 0.54146893, 0.064408  ]])

In [8]:
a.shape

(10, 3)

In [9]:
len(a)

10

In [10]:
x=np.random.rand(20)
y=np.random.rand(20)

In [11]:
x

array([0.69402631, 0.78445777, 0.05773504, 0.98517944, 0.34895142,
       0.05966289, 0.17252887, 0.81463612, 0.74479224, 0.33501707,
       0.16724838, 0.59326226, 0.98282808, 0.13623985, 0.63818363,
       0.70489645, 0.09163426, 0.04265979, 0.60288014, 0.37869193])

In [12]:
y

array([0.06447798, 0.13556589, 0.53291432, 0.41844399, 0.35835668,
       0.30099591, 0.61924126, 0.93806224, 0.5690852 , 0.50539605,
       0.77123185, 0.95377623, 0.62475371, 0.00895493, 0.81723311,
       0.12093156, 0.7200192 , 0.59557824, 0.20518423, 0.2188121 ])

In [13]:
x*y

array([0.04474942, 0.10634571, 0.03076783, 0.41224242, 0.12504907,
       0.01795829, 0.106837  , 0.76417939, 0.42385024, 0.1693163 ,
       0.12898728, 0.56583944, 0.61402549, 0.00122002, 0.52154479,
       0.08524422, 0.06597842, 0.02540724, 0.1237015 , 0.08286238])

In [14]:
x/y

array([10.76377243,  5.78654253,  0.10833832,  2.35438781,  0.97375448,
        0.19821828,  0.27861333,  0.86842438,  1.30875347,  0.66288026,
        0.21685876,  0.62201409,  1.57314486, 15.21394143,  0.7809077 ,
        5.82888762,  0.12726641,  0.07162752,  2.93823819,  1.73067182])

### Pandas review

#### Working with data frames

In [15]:
import pandas as pd

In [16]:
d=pd.DataFrame(data=np.random.rand(100,3),columns=['A','B','C'])

In [17]:
d.head()

          A         B         C
0  0.908584  0.273432  0.541305
1  0.743848  0.028351  0.830948
2  0.295735  0.415760  0.194624
3  0.484829  0.366845  0.287520
4  0.593594  0.661312  0.269906

In [18]:
d["A"]

0     0.908584
1     0.743848
2     0.295735
3     0.484829
4     0.593594
5     0.128708
6     0.122814
7     0.168878
8     0.594750
9     0.242133
10    0.115858
11    0.708346
12    0.552941
13    0.549309
14    0.127435
15    0.274983
16    0.691246
17    0.349943
18    0.105902
19    0.078394
20    0.020821
21    0.082561
22    0.676274
23    0.168378
24    0.716596
25    0.609002
26    0.918132
27    0.135590
28    0.713660
29    0.778926
        ...
70    0.384597
71    0.078072
72    0.992091
73    0.722714
74    0.454508
75    0.595834
76    0.580741
77    0.429054
78    0.713832
79    0.842898
80    0.093821
81    0.547667
82    0.878420
83    0.807604
84    0.168572
85    0.991951
86    0.425371
87    0.337229
88    0.187687
89    0.426340
90    0.100159
91    0.261518
92    0.489770
93    0.166374
94    0.689027
95    0.920824
96    0.088374
97    0.028781
98    0.577502
99    0.075268
Name: A, Length: 100, dtype: float64

In [20]:
d.A

0     0.908584
1     0.743848
2     0.295735
3     0.484829
4     0.593594
5     0.128708
6     0.122814
7     0.168878
8     0.594750
9     0.242133
10    0.115858
11    0.708346
12    0.552941
13    0.549309
14    0.127435
15    0.274983
16    0.691246
17    0.349943
18    0.105902
19    0.078394
20    0.020821
21    0.082561
22    0.676274
23    0.168378
24    0.716596
25    0.609002
26    0.918132
27    0.135590
28    0.713660
29    0.778926
        ...
70    0.384597
71    0.078072
72    0.992091
73    0.722714
74    0.454508
75    0.595834
76    0.580741
77    0.429054
78    0.713832
79    0.842898
80    0.093821
81    0.547667
82    0.878420
83    0.807604
84    0.168572
85    0.991951
86    0.425371
87    0.337229
88    0.187687
89    0.426340
90    0.100159
91    0.261518
92    0.489770
93    0.166374
94    0.689027
95    0.920824
96    0.088374
97    0.028781
98    0.577502
99    0.075268
Name: A, Length: 100, dtype: float64

In [19]:
d.shape

(100, 3)

### Loading data

In [21]:
d=pd.read_csv("train.csv")

In [23]:
d.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

#### Q: how many passengers (data points or rows) do we have?

In [24]:
len(d)

891

#### General information about the dataset

In [25]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

#### Two ways to reference a column:

In [28]:
#d["Age"] and d.Age
d["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

#### Q: What's the mean age of passengers?

In [31]:
np.mean(d['Age'])

29.69911764705882

In [32]:
d.Age.mean()

29.69911764705882

#### Q: whats the mean price people paid?

In [33]:
d.Fare.mean()

32.204207968574636

#### Q: How many male/female passengers are there?

In [37]:
sum(d.Sex=='male')

577

In [38]:
sum(d.Sex=='female')

314

In [40]:
d.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

#### Q: find all values of Embarked and their counts?

In [42]:
d.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

#### How many passengers are in each class?

In [44]:
d.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

#### Quick summary of all numerical variables

In [45]:
d.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### Q: How many (unique) Passenger Classes 'Pclass' are there?

In [46]:
d.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

#### Q: How many passengers survived?

In [47]:
d.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

#### Q: How many females between 20 and 30?

In [51]:
d_F2030=d[(d.Sex == 'female') & (d.Age>=20) & (d.Age<=30)]

In [52]:
d_F2030.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.0000,NaN,S
56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S

In [53]:
len(d_F2030)

83

#### Q: How many male passengers survived?

In [55]:
sum((d.Sex=='male') & (d.Survived==1))

109

#### Q: How many female passengers survived?

In [56]:
sum((d.Sex=='female') & (d.Survived==1))

233

#### Q: What percentage of male passengers survived?

In [58]:
sum((d.Sex=='male') & (d.Survived==1))/sum((d.Sex=='male'))*100

18.890814558058924

#### Q: What percentage of female passengers survived?

In [60]:
sum((d.Sex=='female') & (d.Survived==1))/sum((d.Sex=='female'))*100

74.20382165605095

#### Q: How much was the highest ticket price? and who paid it?

In [61]:
d.Fare.max()

512.3292

In [63]:
d.sort_values(by='Fare', ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.00,3,2,19950,263.0000,C23 C25 C27,S
438,439,0,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.00,0,0,PC 17757,227.5250,C45,C
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.00,0,1,24160,211.3375,B3,S
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.00,0,1,PC 17582,153.4625,C125,S
332,333,0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
708,709,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
...,...,...,...,...,...,...,...,...,...,...,...,...
363,364,0,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
477,478,0,3,"Braund, Mr. Lewis Richard",male,29.00,1,0,3460,7.0458,NaN,S
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S
825,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
411,412,0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
654,655,0,3,"Hegarty, Miss. Hanora ""Nora""",female,18.00,0,0,365226,6.7500,NaN,Q
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S
818,819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.00,0,0,C 7075,6.4500,NaN,S
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.50,0,0,2683,6.4375,NaN,C
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.00,0,0,345364,6.2375,NaN,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.00,0,0,695,5.0000,B51 B53 B55,S
378,379,0,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.00,0,0,LINE,0.0000,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.00,0,0,LINE,0.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
263,264,0,1,"Harrison, Mr. William",male,40.00,0,0,112059,0.0000,B94,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.00,0,0,19972,0.0000,NaN,S
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S

#### Q: how many under age of 10? how many of them died?

In [67]:
len(d[d.Age < 10])

62

In [66]:
d[d.Age < 10].Survived.value_counts()

1    38
0    24
Name: Survived, dtype: int64

#### Q: how many first-class passengers died?

#### Q: what percentage of each class survived?

#### Q: what's the chance of survival for female, first-class passengers??

#### Q: what's the chance of survival for male, first-class passengers??

### Visualizations

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
%matplotlib inline 
#notebook

In [ ]:
a=np.random.randn(1000)

In [ ]:
b=np.random.randn(1000)

In [ ]:
plt.plot(a,':b')

In [ ]:
plt.hist(a, bins=50);

In [ ]:
plt.hist([a,b]);
plt.legend(["a","b"]);
plt.xlabel("counts");
plt.title("Test");

### Exploring data

#### Histrogram of Age

In [ ]:
d.hist("Age");

In [ ]:
plt.hist(d["Age"]);

#### Q: What is the distribution of Age in 'survided' vs 'not survived' groups?

In [ ]:
d.hist(column='Age',by='Survived');

#### Q: Can we put the two distributions (above) in the same graph?

In [ ]:
idx_died = d.Survived == 0
idx_survived = d.Survived == 1
age = d.Age.fillna(d.Age.mean())

In [ ]:
plt.hist([age[idx_died], age[idx_survived]], normed=True);
plt.legend(['died','survived']);

In [ ]:
plt.hist(d.Age.fillna(0));

#### Q: What is the distribution (histogram) of "Embarked"?

In [ ]:
d.Embarked.value_counts(dropna=False).plot.bar();

### Joining Tables

#### Let's say our data was given in two datasets:

In [ ]:
d=pd.read_csv("train.csv")
d1=d[["PassengerId","Name"]]
d2=d[["PassengerId","Age"]][d["Age"].notnull()].sort_values("Age").reset_index(drop=True)

In [ ]:
d1.head()

In [ ]:
len(d1)

In [ ]:
d2.head()

In [ ]:
len(d2)

In [ ]:
#merge is similar to SQL join
d3=d1.merge(d2,on="PassengerId")

In [ ]:
d3

### *Q: How many different passenger 'titles' (Mr. Miss. Dr. etc) are there? What is the distribution?

In [ ]:
d["title"]=

In [ ]:
title_counts = d.title.value_counts()

In [ ]:
title_counts

In [ ]:
title_counts.plot.bar(log=True, grid='on');